.header{
    border-top: 5px solid orange;
}

.control{
    margin:50px 0;
}
.list{
    margin:50px 0;
}
.list ul{
    list-style: none;
}
.list ul>li{
    margin-bottom: 10px;
    }

i{
        color: #0275d8;
        cursor:pointer
}